<template>
  <div id="app">

    <div class="content">
      <el-card class="todos" shadow="never">
        <div class="wrap">
          <el-badge
            type="primary"
            :max="15"
            v-bind:value="todos.length">
            <el-button size="large">{{ title }}</el-button>
          </el-badge>

          <el-divider></el-divider>

          <el-row :gutter="20">

            <el-col :span="16">
              <el-input v-model="todo" type="error" placeholder="type todo..."></el-input>
            </el-col>

            <el-col :span="8">
              <el-button
                type="primary"
                v-bind:style="{ width: '100%', }"
                v-on:click="addTodo(id++)"
                :disabled="todo == ''"
              >Создать <i class="el-icon-plus"></i></el-button>
            </el-col>

          </el-row>

          <el-divider></el-divider>
          <div class="todos__content">
            <el-row  v-for="(todo) in todos" v-bind:key="todo">

              <el-col :span="4">
                <el-button round>{{ todo.id }}</el-button>
              </el-col>

              <el-col :span="12" :class="['todos__item',todo.isComplete ? 'todos__completed' : '']">
                <p>{{ todo.text }}</p>
              </el-col>

              <el-col :span="8">
                <el-button type="info" icon="el-icon-edit" circle></el-button>
                <el-button
                    v-on:click="completeTodo(todo.id)"
                    :type="todo.isComplete ? 'info': 'success'"
                    icon="el-icon-check"
                    circle
                  ></el-button>
                <el-button v-on:click="deleteTodo(todo.id)"
                    type="danger"
                    icon="el-icon-delete"
                    circle
                  ></el-button>
              </el-col>

            </el-row>
          </div>
        </div>
      </el-card>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Список задач',
      todo: 'new Todo',
      errors: {
        input: false,
      },
      todos: [],
      id: 0,
    };
  },
  methods: {
    addTodo() {
      if (this.todo.replaceAll(' ', '') !== '') {
        this.errors.input = true;
        this.todos.push({
          id: this.id,
          text: this.todo,
          isComplete: false,
        });
        this.todo = '';
      } else {
        this.id -= 1;
        this.errors.input = true;
      }
    },
    deleteTodo(id) {
      const index = this.todos.findIndex((x) => x.id === id);
      this.todos.splice(index, 1);
    },
    completeTodo(id) {
      this.todos.find((x) => x.id === id).isComplete = true;
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.todos {
  width: 500px;
  margin: 0 auto;
  height: fit-content;

  &__content {
    max-height: 700px;
    overflow: auto;
  }
  &__item {
    text-align: left;
  }

  &__completed {
    text-decoration: line-through;
  }
}

</style>
